.recommended-friends {
  display: flex;
  flex-direction: column;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0;
  margin: 25px 0;
}

.recommended-friends__title {
  font-size: 12px;
  opacity: 0.8;
}

.recommended-friends span {
  display: block;
  margin: 110px 0;
  font-size: 18px;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.7;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.6;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--space-grey);
}

.open-post__members span {
  font-size: 10px;
}

.open-post__member-status {
  color: var(--yellow);
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes heartSpin {
  0% {
    color: var(--mint);
    transform: none;
  }

  50% {
    color: var(--yellow);
    transform: rotateY(360deg) scale(1.5);
  }
  100% {
    color: var(--mint);
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartSpin 2s linear infinite;
}
