#friends-display-link {
  text-align: center;
  display: flex;
  background-color: var(--space-grey);
  padding: 10px 0px;
  font-size: 16px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

#friends-display-link i {
  opacity: 0.5;
  margin: 0 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}
