.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--space-grey);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid #2b2b2b;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  opacity: 0.8;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  background-color: var(--orange);
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
